<div>
  <%= render "powered_by", title: "Whatsapp Messages" %>
  <div id="messages">
    <div class="overflow-x-auto relative">
      <table class="table table-fixed border-collapse table-auto w-full text-sm">
      <thead>
          <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Receiver</th>
          <th>Message</th>
          </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.id %></td>
            <td><%= message.status %></td>
            <td><%= message.sender_number %></td>
            <td><p><%= link_to "Details", message, class:"btn-secondary" %></p></td>
          </tr>
        <% end %>
      </tbody>
      </table>

      <div class='mx-auto text-center my-4'>
        <%= will_paginate @messages %>
      </div>
    </div>
  </div>
  <div class="py-4">
    <%= button_to new_message_path, class:"btn btn-primary py-2 hover:bg-grey text-grey-darkest py-2 px-4 rounded inline-flex items-center", method: :get do%>
      <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M17.659,3.681H8.468c-0.211,0-0.383,0.172-0.383,0.383v2.681H2.341c-0.21,0-0.383,0.172-0.383,0.383v6.126c0,0.211,0.172,0.383,0.383,0.383h1.532v2.298c0,0.566,0.554,0.368,0.653,0.27l2.569-2.567h4.437c0.21,0,0.383-0.172,0.383-0.383v-2.681h1.013l2.546,2.567c0.242,0.249,0.652,0.065,0.652-0.27v-2.298h1.533c0.211,0,0.383-0.172,0.383-0.382V4.063C18.042,3.853,17.87,3.681,17.659,3.681 M11.148,12.87H6.937c-0.102,0-0.199,0.04-0.27,0.113l-2.028,2.025v-1.756c0-0.211-0.172-0.383-0.383-0.383H2.724V7.51h5.361v2.68c0,0.21,0.172,0.382,0.383,0.382h2.68V12.87z M17.276,9.807h-1.533c-0.211,0-0.383,0.172-0.383,0.383v1.755L13.356,9.92c-0.07-0.073-0.169-0.113-0.27-0.113H8.851v-5.36h8.425V9.807z"/></svg>
      <span>New message</span>
    <% end %>
  </div>

  <div class="py-8">
    <p style="color: green"><%= notice %></p>
  </div>
</div>
